*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --dark-brown: #421e0a;
  --brown: #664e40;
  --lighter-brown: #9d7c68;
}

.fx {
  display: flex;
}

.fx.c {
  flex-direction: column;
}

.fx:not(.c).hcenter,
.fx.c.vcenter {
  justify-content: center;
}

.fx:not(.c).vcenter,
.fx.c.hcenter {
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  color: var(--brown);
  font-family: Alegreya;
  overflow-y: scroll;
}

.main-container {
  padding: 10vh 0;
  width: min(700px, 90vw);
}

.title {
  font-family: Rye;
  color: var(--dark-brown);
  font-size: 36px;
  text-align: center;
}

.para {
  font-size: 22px;
  line-height: 34px;
  padding: 30px 0 10px;
}

.image-box {
  gap: 10px;
}

.image-box > img {
  max-width: 300px;
}
.image-box > figcaption {
  text-align: center;
  font-style: italic;
}

.image-box > figcaption::after {
  content: "Try Right click > Save Image As..";
}

@media (pointer: coarse) {
  .image-box > figcaption::after {
    content: "Long-press image > Save Image..";
  }
}

details {
  margin-top: 10px;
}

details > summary {
  cursor: pointer;
}

details > .para {
  padding: 10px 0;
}

details > a {
  text-decoration: underline dotted;
  color: var(--lighter-brown);
}

details > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .main-container {
    padding: 5vh 0;
  }
  .para {
    font-size: 20px;
    line-height: 30px;
  }
}
